{% extends './base.html' %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block page_content %}
<div class="main-content">
        <section class="story-content">
            <div class="container">
                <h1 class="text-uppercase text-center">Активные пользователи</h1>
                <ol>
                {%for user in object_list%}
                    <li>
                        <div>
                         <img width="100" height="100"
                            src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}"
                            class="img-thumbnail avatar">
                        {{user.name}}
                        </div>
                    </li>
                {%endfor%}
                </ol>
            </div>
        </section>
</div>
{% endblock %}
