{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <h1>Все настроено</h1>
    <img src="{% static 'img/logo_nav.png' %}" alt="лого Bottle">
    <h3> Ask a Question </h3>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <p><textarea rows="2" cols="50" name="QUEST" placeholder="Your question"></textarea></p>
        <p><input type="text" size="50" name="ADDRESS" placeholder="Your email"></p>
        <p><input type="text" size="25" name="NAME" placeholder="Your name"></p>
        <p><input type="submit" class="btn btn-primary" value="Send"></p>
    </form>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
