{% extends './base.html' %}
{% load static %}

{% block title %}Наши партнеры{% endblock %}
{% block page_content %}
    <div class="main-content">
        <section class="story-content">
            <div class="container">
                <h1 class="text-uppercase text-center">Партнерская программа</h1>
                <h4 class="text-uppercase text-center">Уже являются нашими партнерами:</h4>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <img
                                            src="{% static 'img/slivki.jpg' %}"
                                            alt="Картинка партнера"></a>
                                </div>
                                <div class="product-details">
                                    <h2>Петмол</h2>
                                    <p>Поставляем лучшие сливки для кофе</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <img
                                            src="{% static 'img/tchibo.png' %}"
                                            alt="Картинка партнера"></a>
                                </div>
                                <div class="product-details">
                                    <h2>Tchibo</h2>
                                    <p>Производим вкусные кофейные зерна на каждый день</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <img
                                            src="{% static 'img/chaikofskiy.jpg' %}"
                                            alt="Картинка партнера"></a>
                                </div>
                                <div class="product-details">
                                    <h2>Чайкофский</h2>
                                    <p>Сахар для чая, кофе и хорошего настроения</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
{% endblock %}